// Variables
$website-width: 1200px;
$font-logo: "Shadows Into Light", cursive;
$font-heading: "Dosis", sans-serif;
$font-body: "Dosis", sans-serif;
$primary-color: #3a848c;
$accent-color: #41b3aa;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

// https://color.adobe.com/trends/Illustration
/* Color Theme Swatches in Hex */
$TRUE-LEGACY-Interiors-1-hex: #052026;
$TRUE-LEGACY-Interiors-2-hex: #185359;
$TRUE-LEGACY-Interiors-3-hex: #3a848c;
$TRUE-LEGACY-Interiors-4-hex: #75bfbf;
$TRUE-LEGACY-Interiors-5-hex: #dff2f2;
