// Variables
$website-width: 1200px;
$font-logo: "Shadows Into Light", cursive;
$font-heading: "Dosis", sans-serif;
$font-body: "Dosis", sans-serif;
$header-color: #e4937d;
$primary-color: #e27c60;
$accent-color: #41b3aa;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
